<div id="app" class="admin">
  <div>
    <%= render TreelibWeb.AdminView, "_navbar.html", assigns %>

    <h1>Edit Contributor</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.contributor_path(@conn, :update, @contributor)) %>
  </div>
</div>
