<link rel="stylesheet" type="text/css" href="/css/homepage.css">
<div class="mainContainer">
  <div id="app"></div>
</div>
<script type="text/javascript">
  var pageData = {
    "count": {
      "genera":  <%= Treelib.Taxonomy.Genus.active_count() %>,
      "species": <%= Treelib.Taxonomy.Species.active_count() %>
    }
  };
</script>
<script src="<%= Routes.static_path(@conn, "/js/autres.bundle.js") %>"></script>
<script src="<%= Routes.static_path(@conn, "/js/aboutpage.js") %>"></script>
