<link rel="stylesheet" type="text/css" href="/css/homepage.css">
<div class="mainContainer">
  <div id="app"></div>
</div>
<script src="<%= Routes.static_path(@conn, "/js/autres.bundle.js") %>"></script>
<script src="<%= Routes.static_path(@conn, "/js/homepage.js") %>"></script>
