<div class="mainContainer">
  <div id="app"></div>
</div>
<link rel="stylesheet" type="text/css" href="/css/homepage.css">
<script type="text/javascript">
  window.pageData = "<%= @page %>";
  <%# window.pageData = "home" %>
</script>
<script src="/js/autres.bundle.js"></script> 
<script src="/js/homepage.js"></script>
