$font-primary-color: rgb(77, 78, 83);
$textbox-width: 70%;

body {
    background-color: #AAA;
    font-family: Arial, "Helvetica Neue", Helvetica,sans-serif;
    color: $font-primary-color;
    padding:0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    margin: 15px 0 15px;
}
a {
    text-decoration: none;
    color: $font-primary-color;
    &:hover{
        color:black;
    }
}
#app{
    > div {
        min-height: 100%;
        background-color: white;
        margin: 0 50px 0 50px;
        padding: 0px 50px 50px 50px;
    }
}
#adminNavbar {
    background-color: white;
    padding: 0 75px 0 75px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    * {
        vertical-align: middle;
        display: inline-block;
    }
    .item {
        padding: 10px 15px 10px 15px;
        a {
            color: black;
            text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
        }
        &:hover{
            background-color: #EEE;
        }
    }
    .title {
        padding: 0 20px 0 20px;
        font-size: 17pt;
        font-weight: bold;
        a {
            color: #339933;
        }
    }
    .refresh {
        position:absolute;
        top: 0.5em;
        right: 6.5em;
        &:hover{
            font-weight: bold;
        }
    }
}
#saveButton {
    //text & color stuff
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #67F;

    //shape & positioning stuff
    border-radius: 3px;
    padding: 10px 0 10px 0;
    width: 250px;
    display:block;
    margin: auto;
    &:after{
        content:'?';
    }

    &:hover{
        background-color: #6D6;
        &:after{
            content:'.';
        }
    }

}
#deleteButton {
    display: inline-block;
    cursor: default;
    color: #9f9f9f;
    margin-left: 10px;
    padding: 5px;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 3px;
    &:hover{
        color: $font-primary-color;
        border: 1px solid rgba(0, 0, 0, 0.7);
    }
}

#description {
    vertical-align: middle;
    display: inline-block;
    width: $textbox-width;
    .title {
        vertical-align: top;
        padding-top: 5px;
    }
    textarea {
        padding: 5px;
        width: 96%;
        margin: 2% 2% 0 2%;
        height: 20em;
        resize: none;
        outline: none;
        border-color: #CCC;
    }   
}

.mainContainer {
    background-color: #AAA;
    min-height:100%;
}
.mainTitle {
    display: inline-block;
    vertical-align: middle;
}
.commonTitle {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.8;
    margin-left: 10px;
}
.item {
    display: inline-block;
}
.question {
    display: inline-block;
    * { // children too
        display: inline-block;
    }
    .title{
        width:150px;
        text-align: right;
        padding: 0 10px 0 0;
    }
}
.btn-std {
    color: white;
    text-align: center;
    background-color: #67F;
    border-radius: 3px;
    padding: 5px;
    &:after{
        content:'?';
    }
    &:hover{
        background-color: #6D6;
        &:after{
            content:'.';
        }
    }
}
.resetList{
    padding: 0;
    list-style:none;
}
.markup {
    vertical-align: middle;
    display: inline-block;
    width: 100% - $textbox-width;
    table {
        font-size: .7em;
        border-collapse: collapse;
        td {
            border: 1px solid #CCC;
            padding: 0.5rem;
        }
        th:not(:last-child) {
            border-right: 1px dotted #CCC;
        }
    }
}

