@import "font-awesome/font-awesome";
@import "_colors";

$break-small: 320px;
$break-medium: 640px;
$break-med-medium: 850px;
$break-ipad-horiz: 1024px;
$break-large: 1200px;

$family-color: $color-first-0;
$genus-color: $color-fourth-0;
$species-color: $color-third-0;

html { font-size: 62.5%; }

body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: $base-font-color;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $base-font-color;
  &:hover {
    color: $base-font-color-hover;
  }
  &.underlineable {
    &:hover{
      text-decoration: underline;
    }
  }
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('/images/checks.png') no-repeat 0 0;
  line-height  : 24px;
}
input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

.adminEdit {
  padding: 30px 10px 0 0;
  float: right;
  color:  #4169E1;
}

.adminEdit {
  float: right;
}

.adminEdit {
  float: right;
}

.undecorated-list {
  list-style-type: none;
}

.form-basic {
  .form-group {
    margin: 2rem auto 2rem auto;
    &> * {
      vertical-align: text-top;
      display: inline-block;
    }

    label {
      min-width: 150px;
      text-align: right;
      margin-right: 1rem;
      &::after {
        content: ":"
      }
    }
  }
}

.hidden {
  display: none;
}

.select2-tag-selector {
  width: 100%;
}
