$logo-color: #00a651;
$logo-color-hover: #00803e;

$base-font-color: #364149;
$base-font-color-hover: #161a1d;
$base-font-color-lighter: #4c5b67;
$base-font-color-lighter-lighter: #627684;

$color-first-0: #FF846B;  // Main Primary color */
$color-first-1: #FFC6BA;
$color-first-2: #FFA28F;
$color-first-3: #FF6B4C;
$color-first-4: #E94725;

$color-second-0: #FFB86B; // Main Secondary color (1) */
$color-second-1: #FFDEBA;
$color-second-2: #FFC98F;
$color-second-3: #FFA94C;
$color-second-4: #E98B25;

$color-third-0: #54A1BF;  // Main Secondary color (2) */
$color-third-1: #B0DDEE;
$color-third-2: #7DBFD8;
$color-third-3: #3584A3;
$color-third-4: #1C7292;

$color-fourth-0: #57D084; // Main Complement color */
$color-fourth-1: #B1F2C9;
$color-fourth-2: #7FE2A4;
$color-fourth-3: #38BB69;
$color-fourth-4: #1BA950;