$searcher-input-height: 34px;
$searcher-input-width: 400px;
$searcher-ipad-input-width: 340px;
$searcher-input-icon-width: 20px;
$searcher-border-left: 3px;
$searcher-grey-border: #dadada;

#searcher > * {
  display: inline-block;
}
#searcher button {
  background-color: #f1f1f1;
  border-color: $searcher-grey-border;
  border-style: solid;
  border-radius: 3px;
  margin: auto 1rem;
  padding: 0.60rem;
  outline: none;
  box-shadow: none;

  &:hover {
    background-color: #d9d9d9;
  }
}

#searcher-input {
  max-width: $searcher-input-width;
  width: 100%;
  padding: 0;
  margin: auto;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  input {
    width: $searcher-input-width - $searcher-input-icon-width - 17px;
    font-size: 1.6rem;
    outline: none;
    padding: 7px;
    height: $searcher-input-height;
    border: 1px solid $searcher-grey-border;
    border-left: 3px solid $searcher-grey-border;
    border-right: 0px solid $searcher-grey-border;
    border-radius: 0px;
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
  }

  .icon {
    height: $searcher-input-height;
    min-width: $searcher-input-height;
    padding: 8px;
    border-width: 1px 1px 1px 0;
    border-color: $searcher-grey-border;
    border-style: solid;
    box-sizing: border-box;
    background-color: white;
    width: $searcher-input-icon-width;

    .fa-search {
      color: #777;
    }
  }
}

ul#searcher-results {
  background-color: white;
  position: absolute;
  overflow-y: scroll;
  max-height: calc(100% - 90px);
  z-index: 1000;

  & > * {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    perspective: 1000;
    -webkit-perspective: 1000;
  }

  .searcher-result {
    list-style: none;
    padding: 7px 10px 7px 7px;
    border-bottom: 1px solid $searcher-grey-border;
    border-right: 1px solid $searcher-grey-border;

    &:hover {
      background-color: #fafafa;
    }

    ul.result-list {
      li {
        list-style: none;
        text-align: left;

        .type {
          float: right;
          font-size: 1.4rem;
          opacity: 0.7;
        }
      }
    }
  }

  .searcher-species {
    border-left: $searcher-border-left solid $species-color;
  }

  .searcher-genus {
    border-left: $searcher-border-left solid $genus-color;
  }

  .searcher-family {
    border-left: $searcher-border-left solid $family-color;
  }

  max-width: $searcher-input-width;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (max-width: $break-ipad-horiz) {
  #searcher-input {
    max-width: $searcher-ipad-input-width;

    input {
      width: calc(100% - #{$searcher-input-icon-width + 25px});
    }
  }

  ul#searcher-results {
    max-width: $searcher-ipad-input-width;
    max-height: 225px;
    margin-bottom: 100px;
    width: 100%;
  }
}

@media screen and (max-width: $break-medium) {
  #searcher-input {
    display: none;
  }

  /*
   ul#searcher-results {
     .searcher-result:nth-child(n+6) {
       display: none;
     }
   }
   */
}
