#species-index {
  .content {
    padding: 0 5% 20px 5%;
  }

  table {
    a:hover {
      text-decoration: underline;
    }
    margin: auto;
    border-collapse: collapse;

    th {
      cursor: pointer;
      text-align: center;
      > * {
        vertical-align: top;
      }
      i {
        margin-left: 3px;
        opacity: 0.5;
      }
      .fa-sort-up {
        margin-bottom: 0;
        margin-top: 5px;
      }
      .fa-sort-down {
        margin-bottom: 7px;
        margin-top: -2px;
      }
      &:hover i {
        opacity: 1;
      }
    }

    td,
    th {
      padding: 7px;
      &:nth-child(2) {
        border-right: 1px #ccc dotted;
      }
      &:not(:first-child) {
        width: 350px;
      }
      &:first-child {
        text-align: center;
      }
    }

    tbody tr {
      &:nth-child(odd) {
        background-color: #eee;
      }

      &:hover {
        background-color: #c5c5c5;
      }
    }
  }

  #search_field_query {
    /* For ios, remove shadow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 30px;
    padding: 5px;
    min-width: 250px;
    border-width: 1px 0px 1px 3px;
    border-color: #777;
    border-style: solid;
    font-size: 1.5rem;
    &:focus {
      outline: none;
    }
    margin: 1rem 0 1rem 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
  }
  #search_field_logo {
    display: inline-block;
    border-width: 1px 1px 1px 0px;
    color: #777;
    border-color: #777;
    border-style: solid;
    height: 28px;
    vertical-align: middle;
    padding: 6px;
    i {
      padding: 5px;
    }
  }
}
