<html>
	<head>
	    <title>Family Tree</title>
	    <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon'/ >
	    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/admin_family_tree.css") %>">
	</head>
	<body>
    <div class="mainContainer">
      <div id="app" class="admin"></div>
    </div>
    <script type="text/javascript">
      var CSRF_TOKEN = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
      window.pageData = <%= raw json_encode!(@page_data) %>;
    </script>
    <script src="<%= Routes.static_path(@conn, "/js/autres.bundle.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/admin_family_tree.js") %>"></script>
	</body>
</html>