<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Family: <%= raw @page_data.family.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# <meta property="og:url"           content="http://treelib.ca/species/family/<%= @page_data.family.name %1>" /> %>
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="TreeLib Family: <%= @page_data.family.name %>" />
    <meta property="og:description"   content="" />
    <link rel='shortcut icon' href="<%= Routes.static_path(@conn, "/images/favicon.ico") %>" type='image/x-icon'/ >
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn, "/css/family_page.css") %>">
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/modernizr-webp.min.js") %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-89482021-1');
    </script>
</head>
<body>
  <div class="mainContainer">
    <%# <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %1></p> %>
    <%# <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %1></p> %>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </div> <!-- /container -->
</body>
</html>
